@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: $Light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}

.card {
    background-color: $white;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 10px hsl(220, 15%, 80%);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1, p {
    text-align: center;
}

h1 {
    color: $blue-dark;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0 15px;
}

p {
    color: $blue-greyed;
    font-weight: 400;
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
}